<p class="subtitle">Crear nueva distribucion</p>
<form (ngSubmit)="crearDistribucion(f)" #f="ngForm">
    <label>ID</label>
    <input type="text" name="id" [(ngModel)]="id" disabled> 
    <label>Codigo</label>
    <input type="text" name="codigoDistribucion" [(ngModel)]="distribucion.codigoDistribucion" required>
    <label>Remitente</label>
    <input type="text" name="nombreRemi" [(ngModel)]="distribucion.nombreRemi" required>
    <label>Emisor</label>
    <input type="text" name="nombreEmi" [(ngModel)]="distribucion.nombreEmi" required>
    <label>Fecha encargo</label>
    <input type="text" name="fechaEncargo" [(ngModel)]="distribucion.fechaEncargo" required>
    <label>Fecha salida</label>
    <input type="text" name="fechaSalida" [(ngModel)]="distribucion.fechaSalida">
    <label>Numero Articulos</label>
    <input type="number" name="numArticulos" [(ngModel)]="distribucion.numArticulos" required>
    <label>Express</label>

    <div class="express-box">
    <input type="radio" name="express" id="si" value="true" [(ngModel)]="distribucion.express" required>
    <label for="si">SI</label>
    <input type="radio" name="express" id="no" value="false" [(ngModel)]="distribucion.express" required>
    <label for="no">NO</label>
    <!-- <input type="text" name="express" [(ngModel)]="distribucion.express" required> -->
    </div>
    
    <label>Estado Envio</label>
    <input type="text" name="estadoDeEnvio" [(ngModel)]="distribucion.estadoDeEnvio" required>
    <label>Descripción</label>
    <input type="text" name="descrip" [(ngModel)]="distribucion.descrip" required>


    <button type="submit">Crear</button>
</form>