<div class="content">

    <div class="card-box">

        <div class="card-details">
            <div class="card-text">
                <p>Total<br>
                    Convencionales</p>
                <h5>{{ enviosConvencional }}</h5>
            </div>
            <div class="card-icon">
                <i class='bx bx-transfer-alt'></i>
            </div>
        </div>

        <div class="card-details">
            <div class="card-text">
                <p>Total <br>
                    express</p>
                <h5>{{ enviosExpress }}</h5>
            </div>
            <div class="card-icon">
                <i class='bx bx-bolt-circle' undefined></i>
            </div>
        </div>
    
        <!-- <div class="card-details">
            <div class="card-text">
                <p>Categoria <br>
                    top</p>
                <h5>Num</h5>
            </div>
            <div class="card-icon">
                <i class='bx bx-package'></i>
            </div>
        </div> -->

    </div>

    <!-- <div class="graphic-content">
        <ngx-charts-bar-horizontal
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
      </ngx-charts-bar-horizontal>
    </div> -->

    <table *ngIf="verDistribuciones">
        <caption><h2 class="title">Rutas</h2></caption>
        <tr>
            <!-- <td id="td-title"><strong>N°</strong></td>
            <td id="td-title"><strong>ID</strong></td> -->
            <td id="td-title"><strong>Codigo</strong></td>
            <td id="td-title"><strong>Remitente</strong></td>
            <td id="td-title"><strong>Emisor</strong></td>
            <td id="td-title"><strong>Encargo</strong></td>
            <td id="td-title"><strong>Salida</strong></td>
            <td id="td-title"><strong>Articulos</strong></td>
            <td id="td-title"><strong>Express</strong></td>
            <td id="td-title"><strong>Estado</strong></td>
            <td id="td-title"><strong>Controls</strong></td>
        </tr>
    
        <tr *ngFor="let listDistribucion of listaDistribuciones;let i=index">
            <!-- <td id="campo">{{ i+1 }}</td> -->
            <td id="campo" id="limitarCeldaDistribucion" style="display: none;">{{ listDistribucion._id }}</td>
            <td id="campo">{{ listDistribucion.codigoDistribucion }}</td>
            <td id="campo">{{ listDistribucion.nombreRemi }}</td>
            <td id="campo">{{ listDistribucion.nombreEmi }}</td>
            <td id="campo">{{ listDistribucion.fechaEncargo }}</td>
            <td id="campo">{{ listDistribucion.fechaSalida }}</td>
            <td id="campo">{{ listDistribucion.numArticulos }}</td>
            <td id="campo">{{ listDistribucion.express }}</td>
            <td id="campo">{{ listDistribucion.estadoDeEnvio }}</td>
            <td id="campo">
                <a [routerLink]="['FormDistribucion',listDistribucion._id]"><i class='bx bxs-message-square-edit'></i></a>
                <i class='bx bxs-trash' (click)="eliminarDistribucion(listDistribucion._id)"></i>
            </td>
        </tr>
    </table>


    <router-outlet *ngIf="verForm"></router-outlet>

    <div class="crud-tools">
        <a routerLink="FormDistribucion"><i class='bx bxs-message-square-edit' (click)="verForm = !verForm"></i></a>
        <i class='bx bxs-file-find' (click)="verDistribuciones = !verDistribuciones"></i>
    </div>