<div class="content">
    
    <p>logistica works!</p>
    <div class="card-box">

        <div class="card-details">
            <div class="card-text">
                <p>Pedidos<br>
                    trasladados</p>
                <h5>Num</h5>
            </div>
            <div class="card-icon">
                <i class='bx bx-package'></i>
            </div>
        </div>

        <div class="card-details">
            <div class="card-text">
                <p>Pedidos en<br>
                    ruta</p>
                <h5>Num</h5>
            </div>
            <div class="card-icon">
                <i class='bx bx-package'></i>
            </div>
        </div>
    
        <div class="card-details">
            <div class="card-text">
                <p>Transportes<br>
                    disponibles</p>
                <h5>Num</h5>
            </div>
            <div class="card-icon">
                <i class='bx bx-package'></i>
            </div>
        </div>

    </div>

    <div class="graphic-content">

      </div>

      <table *ngIf="verRutas">
        <caption><h2>Rutas</h2></caption>
        <tr>
            <td id="td-title"><strong>N°</strong></td>
            <td id="td-title"><strong>ID</strong></td>
            <td id="td-title"><strong>Codigo</strong></td>
            <td id="td-title"><strong>Ruta</strong></td>
            <td id="td-title"><strong>Vehiculo</strong></td>
            <td id="td-title"><strong>Articulos</strong></td>
            <td id="td-title"><strong>Estimado</strong></td>
            <td id="td-title"><strong>Salida</strong></td>
            <td id="td-title"><strong>Destino</strong></td>
            <td id="td-title"><strong>Controls</strong></td>
        </tr>
    
        <tr *ngFor="let listRuta of listaRutas;let i=index">
            <td id="campo">{{ i+1 }}</td>
            <td id="campo" id="limitarCelda">{{ listRuta._id }}</td>
            <td id="campo">{{ listRuta.codigoRuta }}</td>
            <td id="campo">{{ listRuta.ruta }}</td>
            <td id="campo">{{ listRuta.tipoVehiculo }}</td>
            <td id="campo">{{ listRuta.numArticulos }}</td>
            <td id="campo">{{ listRuta.tiempoEstimado }}</td>
            <td id="campo">{{ listRuta.fechaSalida }}</td>
            <td id="campo">{{ listRuta.destino }}</td>
            <td id="campo">
                <a [routerLink]="['FormLogistica',listRuta._id]"><i class='bx bxs-message-square-edit'></i></a>
                <i class='bx bxs-trash' (click)="eliminarAlmacen(listRuta._id)"></i>
            </td>
        </tr>
    </table>
    
    <router-outlet></router-outlet>
    
    <div class="crud-tools">
        <a routerLink="FormLogistica"><i class='bx bxs-message-square-add'></i></a>
        <i class='bx bxs-file-find' (click)="verRutas = !verRutas"></i>
    </div>

</div>