<div class="capa">
    <!-- <div [ngClass]="'capa'"> -->
    <!-- <div [ngStyle]="{'opacity': verCapa}" class="capa"> -->
    <div class="formEmergente" *ngIf="verFormEmergente">
        <div class="exit">
            <i class='bx bx-x' (click)="verFormEmergente = !verFormEmergente"></i>
        </div>
        <div class="formEmergente-body">
            <h2>Solicitud al proveedor</h2>
            <p>Rellenar el siguiente formulario para pedir mas abasto</p>
            <form (ngSubmit)="crearSolicitud(f)" #f="ngForm">
                <!-- <label>ID</label>
                <input type="text" name="id" [(ngModel)]="id" disabled> -->
                <label>Codigo de Solicitud</label>
                <input type="text" name="codigoSolicitud" [(ngModel)]="solicitud.codigoSolicitud" required>
                <label>Nombre producto</label>
                <input type="text" name="nombreProduct" [(ngModel)]="solicitud.nombreProduct" required disabled>
                <label>Unidades</label>
                <input type="number" name="unidades" [(ngModel)]="solicitud.unidades" required>
                <label>Proveedor</label>
                <input type="text" name="proveedor" [(ngModel)]="solicitud.proveedor" required disabled>
                
                <button type="submit">Crear</button>
            </form>
        </div>
    </div>
    <div class="content">

        <div class="card-box">
            <div class="card-details">
                <div class="card-text">
                    <p>Productos <br>
                        almacenados</p>
                    <h5>{{ totalProductosAlmacenados }}</h5>
                </div>
                <div class="card-icon">
                    <i class='bx bx-package'></i>
                </div>
            </div>

            <div class="card-details">
                <div class="card-text">
                    <p>Total <br>
                        devoluciones</p>
                    <h5 style="color: darkred;">{{countDevoluciones}}</h5>
                </div>
                <div class="card-icon">
                    <i class='bx bx-dislike'></i>
                </div>
            </div>

            <div class="card-details">
                <div class="card-text">
                    <p>Total <br>
                        Contenedores</p>
                    <h5>{{ countContenedores }}</h5>
                </div>
                <div class="card-icon">
                    <i class='bx bx-cuboid'></i>
                </div>
            </div>

        </div>

        <h2 class="title">Mas solicitados</h2>

        <div class="graficas">
            <div class="grafica1">
                <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single" [gradient]="gradient"
                    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                    (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
            </div>
            <div class="grafica2">
                <ngx-charts-pie-chart [scheme]="colorScheme2" [results]="singleCircular" [gradient]="gradient2"
                    [legend]="showLegend2" [labels]="showLabels" [doughnut]="isDoughnut">
                </ngx-charts-pie-chart>
                <!-- 
            pone la leyenda de manera vertical
            [legendPosition]="legendPosition"
        metos omitidos en el componenete 
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)" -->
            </div>
        </div>


        <!-- <div class="list-results">
          <ul>
              <li *ngFor="let almacen of almacenes">{{ almacen.nombreProd }}</li>
          </ul>
      </div> -->

        <table>
            <caption>
                <h2 class="title">Sin mucho stock</h2>
            </caption>
            <tr>
                <td id="table-stock"><strong>ID</strong></td>
                <td id="table-stock"><strong>Nombre</strong></td>
                <td id="table-stock"><strong>Existencias</strong></td>
                <td id="table-stock"><strong>Proveedor</strong></td>
                <td id="table-stock"><strong>Ubicación</strong></td>
                <td id="table-stock"><strong>Controls</strong></td>
            </tr>

            <tr *ngFor="let almacen of almacenes">
                <td id="campo">{{ almacen._id }}</td>
                <td id="campo">{{ almacen.nombreProd }}</td>
                <td id="campo">{{ almacen.cantStock }}</td>
                <td id="campo">{{ almacen.proveedor }}</td>
                <td id="campo">{{ almacen.localizacion }}</td>
                <td id="campo">
                    <i class='bx bxs-message-square-edit' (click)="solicitar(almacen._id)"></i>
                    <!-- <i class='bx bxs-trash' (click)="eliminarDistribucion(listDistribucion._id)"></i> -->
                </td>
            </tr>
        </table>

        <table *ngIf="verAlmacenes">
            <caption>
                <h2 class="title">Productos almacenados</h2>
            </caption>
            <tr>
                <!-- <td id="td-title"><strong>N°</strong></td> -->
                <!-- <td id="td-title"><strong>ID</strong></td> -->
                <td id="td-title"><strong>Codigo</strong></td>
                <td id="td-title"><strong>Nombre</strong></td>
                <td id="td-title"><strong>DiasEn</strong></td>
                <td id="td-title"><strong>Ubicacion</strong></td>
                <td id="td-title"><strong>%</strong></td>
                <td id="td-title"><strong>Stock</strong></td>
                <td id="td-title"><strong>Categoria</strong></td>
                <td id="td-title"><strong>Proveedor</strong></td>
                <td id="td-title"><strong>Controls</strong></td>
            </tr>

            <tr *ngFor="let listalmacen of listaAlmacenes;let i=index">
                <!-- <td id="campo">{{ i+1 }}</td> -->
                <td id="campo" id="limitarCelda" style="display: none;">{{ listalmacen._id }}</td>
                <td id="campo">{{ listalmacen.codigoProdAlmacen }}</td>
                <td id="campo">{{ listalmacen.nombreProd }}</td>
                <td id="campo">{{ listalmacen.tiempoEnAl }}</td>
                <td id="campo">{{ listalmacen.localizacion }}</td>
                <td id="campo">{{ listalmacen.porcentaje }}</td>
                <td id="campo">{{ listalmacen.cantStock }}</td>
                <td id="campo">{{ listalmacen.categoria }}</td>
                <td id="campo">{{ listalmacen.proveedor }}</td>
                <td id="campo">
                    <!-- (click)="capturarID(listalmacen)" -->
                    <!-- <i class='bx bxs-message-square-edit'></i> -->
                    <a [routerLink]="['FormAlmacen',listalmacen._id]"><i class='bx bxs-message-square-edit'></i></a>
                    <i class='bx bxs-trash' (click)="eliminarAlmacen(listalmacen._id)"></i>
                </td>
            </tr>
        </table>

        <router-outlet *ngIf="verForm"></router-outlet>

        <div class="crud-tools">
            <a routerLink="FormAlmacen"><i class='bx bxs-message-square-edit' (click)="verForm = !verForm"></i></a>
            <i class='bx bxs-file-find' (click)="verAlmacenes = !verAlmacenes"></i>
            <!-- <a routerLink="VerAlmacenes"><i class='bx bxs-message-square-edit'></i></a> -->
            <!-- <a href=""><i class='bx bxs-trash'></i></a> -->
        </div>

    </div>

</div>