<div class="content">

    <p>almacen works!</p>
    <div class="card-box">

        <div class="card-details">
            <div class="card-text">
                <p>Productos <br>
                    almacenados</p>
                <h5>Num</h5>
            </div>
            <div class="card-icon">
                <i class='bx bx-package'></i>
            </div>
        </div>

        <div class="card-details">
            <div class="card-text">
                <p>Total <br>
                    devoluciones</p>
                <h5>Num</h5>
            </div>
            <div class="card-icon">
                <i class='bx bx-package'></i>
            </div>
        </div>

        <div class="card-details">
            <div class="card-text">
                <p>Categoria <br>
                    top</p>
                <h5>Num</h5>
            </div>
            <div class="card-icon">
                <i class='bx bx-package'></i>
            </div>
        </div>

    </div>

    <div class="graphic-content">
        <div>
            <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
            <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
        </div>
    </div>

    <div class="crud-tools">
        <i class='bx bxs-message-square-add'></i>
        <i class='bx bxs-message-square-edit'></i>
        <i class='bx bxs-file-find'></i>
        <i class='bx bxs-trash'></i>
    </div>

    <!-- <div class="list-results">
          <ul>
              <li *ngFor="let almacen of almacenes">{{ almacen.nombreProd }}</li>
          </ul>
      </div> -->

    <h2>Productos sin mucho stock</h2>

    <table>
        <tr>
            <td id="td-title"><strong>Nombre</strong></td>
            <td id="td-title"><strong>Existencias</strong></td>
            <td id="td-title"><strong>Proveedor</strong></td>
            <td id="td-title"><strong>Ubicación</strong></td>
        </tr>

        <tr *ngFor="let almacen of almacenes">
            <td id="campo">{{ almacen.nombreProd }}</td>
            <td id="campo">{{ almacen.cantStock }}</td>
            <td id="campo">{{ almacen.proveedor }}</td>
            <td id="campo">{{ almacen.localizacion }}</td>
        </tr>
    </table>

</div>